@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");

@media screen and (min-width: 600px) {
  .columnTextStyle {
    text-transform: capitalize;
    font-family: "Libre Baskerville", serif;
    font-size: 0.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media screen and (min-width: 800px) {
  .columnTextStyle {
    text-transform: capitalize;
    font-family: "Libre Baskerville", serif;
    font-size: 1.3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
