@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");

.colContent {
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.regularCol {
  flex: 20;
}
.doubleCol {
  flex: 60;
}
.mediumCol {
  flex: 10;
}
.tinyCol {
  flex: 1;
}
.tinyCenterCol {
  flex: 1;
  text-align: center;
}
.regularCenterCol {
  flex: 20;
  text-align: center;
}
.mediumCenterCol {
  flex: 10;
  text-align: center;
}
