.container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 1px solid #dddddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-top: 4%;
  margin-bottom: 4%;
}

.filterTerm {
  font-style: italic;
}
